<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.springboot.dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.test.springboot.pojo.Permission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="is_enable" property="isEnable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, create_date, last_modify_date, permission_name, is_enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from permission
    where id = (select permission_id from role_permission where role_id = #{id,jdbcType=INTEGER})
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.springboot.pojo.Permission" >
    insert into permission (id, version, create_date, 
      last_modify_date, permission_name, is_enable
      )
    values (#{id,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastModifyDate,jdbcType=TIMESTAMP}, #{permissionName,jdbcType=VARCHAR}, #{isEnable,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.springboot.pojo.Permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.springboot.pojo.Permission" >
    update permission
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.springboot.pojo.Permission" >
    update permission
    set version = #{version,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>